In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
#librerias para estructura de browser
from selenium.common.exceptions import NoSuchElementException
from datetime import date, datetime, timedelta 

from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import time

# Specifying incognito mode as you launch your browser[OPTIONAL]
option = webdriver.ChromeOptions()
option.add_argument("--incognito")

# Create new Instance of Chrome in incognito mode
browser = webdriver.Chrome(executable_path=r'C:\SeleniumDriver\chromedriver.exe', chrome_options=option)

#path = r"C:\Users\dcantorin\Desktop\Production_dcantorin\Urbania\results"
path = r"D:\Descargas_WS\2023\15_INDECOPI"

today = date.today()

C:\Users\dcantorin\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: DeprecationWarning: use options instead of chrome_options

In [2]:
url='https://servicio.indecopi.gob.pe/e-value/pgw_infoXDeudor.seam'
browser.get(url)

In [10]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
import time

nro = 4
anio = 2017
nro_exp = browser.find_element_by_id('frmInfoDeudor:txtNroExpediente')
nro_exp.send_keys(nro)
time.sleep(1)
nro_anio = browser.find_element_by_id('frmInfoDeudor:txtAnioExpediente') 
nro_anio.send_keys(anio)
time.sleep(1)

#select_combo = browser.find_element_by_id('frmInfoDeudor:cboSigla')
#select_combo.select_by_value('CCO-INDECOPI')
buscar = browser.find_element_by_id('frmInfoDeudor:btnBuscarDeudores')
buscar.click()

In [12]:
listar = browser.find_element_by_id('frmInfoDeudor:dtLstDeudores:0:cmlNroAcreedores')
listar.click()

In [68]:
tabla = browser.find_element_by_id('formAcreedores:tblAcreedores:tb').text
tabla

'002-1 SUPERINTENDENCIA NACIONAL DE ADUANAS Y ADMINISTRACION TRIBUTARIA - SUNAT TRIBUTARIO 798606750 0 0 0 0 0\n003-1 CORPROVISEC SRL COMERCIAL 296803.54 0 0 0 0 0\n003-2 JRG SOPORTE EMPRESARIAL SAC COMERCIAL 34515 0 0 0 0 0\n003-3 LH SERVICIOS CATERING SAC COMERCIAL 111883 0 0 0 0 0\n003-4 RIMAC SEGUROS Y REASEGUROS SAC COMERCIAL 0 183079.48 0 0 0 0\n003-5 SICIM S.P.A SUCURSAL DEL PERU COMERCIAL 0 0 0 0 0 0\n003-6 ENAGAS S.A. COMERCIAL 0 247154275.23 0 0 0 0\n003-7 ENAGAS INTERNACIONAL S.L.U COMERCIAL 0 2804300.09 0 0 0 0\n003-8 ENAGAS PERU S.A.C. COMERCIAL 0 0 0 0 0 0\n003-9 TRANSPORTADORA DE GAS DEL PERU S.A. COMERCIAL 0 814324.59 0 0 0 0\n003-10 PATRIMONIO FIDEICOMETIDO "GSP FLUJOS" COMERCIAL 0 305750225.09 0 0 0 0\n003-11 THE BANK OF TOKYO-MITSUBISHI UFJ, LTD COMERCIAL 0 31730386.88 0 0 0 0\n003-12 INTESA SANPAOLO S.P.A.NEW YORK BRANCH COMERCIAL 0 39662983.6 0 0 0 0'

In [196]:
tabla_ofi = browser.find_element_by_id('formAcreedores:tblAcreedores').text
df = tabla_ofi[218:]

print(df)

Total Créditos Reconocidos (Soles): S/. 800,930,765.63
Total Créditos Reconocidos (Dólares): $ 1,267,919,963.98
002-1 SUPERINTENDENCIA NACIONAL DE ADUANAS Y ADMINISTRACION TRIBUTARIA - SUNAT TRIBUTARIO 798606750 0 0 0 0 0
003-1 CORPROVISEC SRL COMERCIAL 296803.54 0 0 0 0 0
003-2 JRG SOPORTE EMPRESARIAL SAC COMERCIAL 34515 0 0 0 0 0
003-3 LH SERVICIOS CATERING SAC COMERCIAL 111883 0 0 0 0 0
003-4 RIMAC SEGUROS Y REASEGUROS SAC COMERCIAL 0 183079.48 0 0 0 0
003-5 SICIM S.P.A SUCURSAL DEL PERU COMERCIAL 0 0 0 0 0 0
003-6 ENAGAS S.A. COMERCIAL 0 247154275.23 0 0 0 0
003-7 ENAGAS INTERNACIONAL S.L.U COMERCIAL 0 2804300.09 0 0 0 0
003-8 ENAGAS PERU S.A.C. COMERCIAL 0 0 0 0 0 0
003-9 TRANSPORTADORA DE GAS DEL PERU S.A. COMERCIAL 0 814324.59 0 0 0 0
003-10 PATRIMONIO FIDEICOMETIDO "GSP FLUJOS" COMERCIAL 0 305750225.09 0 0 0 0
003-11 THE BANK OF TOKYO-MITSUBISHI UFJ, LTD COMERCIAL 0 31730386.88 0 0 0 0
003-12 INTESA SANPAOLO S.P.A.NEW YORK BRANCH COMERCIAL 0 39662983.6 0 0 0 0

In [ ]:
df

In [107]:
result = df.col.str.extract('([a-zA-Z]+)([^a-zA-Z]+)', expand=True)
#result.columns = ['Text', 'Number']
result

AttributeError: 'DataFrame' object has no attribute 'col'

In [197]:
import sys
import pandas as pd

if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO


temp =  StringIO(tabla)
df =pd.read_csv(temp, sep=" ", lineterminator='\n', error_bad_lines=False,header=None)

df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,002-1,SUPERINTENDENCIA,NACIONAL,DE,ADUANAS,Y,ADMINISTRACION,TRIBUTARIA,-,SUNAT,TRIBUTARIO,798606750.0,0.0,0.0,0.0,0.0,0.0
1,003-1,CORPROVISEC,SRL,COMERCIAL,296803.54,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,003-2,JRG,SOPORTE,EMPRESARIAL,SAC,COMERCIAL,34515,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
3,003-3,LH,SERVICIOS,CATERING,SAC,COMERCIAL,111883,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
4,003-4,RIMAC,SEGUROS,Y,REASEGUROS,SAC,COMERCIAL,0,183079.48,0,0,0.0,0.0,NaN,NaN,NaN,NaN
5,003-5,SICIM,S.P.A,SUCURSAL,DEL,PERU,COMERCIAL,0,0,0,0,0.0,0.0,NaN,NaN,NaN,NaN
6,003-6,ENAGAS,S.A.,COMERCIAL,0,247154275.23,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,003-7,ENAGAS,INTERNACIONAL,S.L.U,COMERCIAL,0,2804300.09,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,003-8,ENAGAS,PERU,S.A.C.,COMERCIAL,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,003-9,TRANSPORTADORA,DE,GAS,DEL,PERU,S.A.,COMERCIAL,0,814324.59,0,0.0,0.0,0.0,NaN,NaN,NaN
10,003-10,PATRIMONIO,FIDEICOMETIDO,GSP FLUJOS,COMERCIAL,0,305750225.09,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
11,003-11,THE,BANK,OF,TOKYO-MITSUBISHI,"UFJ,",LTD,COMERCIAL,0,31730386.88,0,0.0,0.0,0.0,NaN,NaN,NaN
12,003-12,INTESA,SANPAOLO,S.P.A.NEW,YORK,BRANCH,COMERCIAL,0,39662983.6,0,0,0.0,0.0,NaN,NaN,NaN,NaN

In [211]:
montos2 = browser.find_elements_by_name("formAcreedores:j_id208")
montos2

list3 = []

for mont in montos2:
    car = mont.text
    list3.append(car)
    
list3

['']

In [217]:
montos = browser.find_element_by_class_name("rich-table main-tableA")
montos

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".rich-table main-tableA"}
  (Session info: chrome=114.0.5735.110)

In [213]:
list2 = []

for mont in montos:
    car = mont.text
    list2.append(car)

In [204]:
list2[1:]

['00004-2017/CCO-INDECOPI',
 'INDECOPI SEDE CENTRAL',
 'DECLARACION DE INSOLVENCIA',
 'LIQUIDACIÓN',
 '40',
 '11/04/2023',
 '002-1',
 'TRIBUTARIO',
 '798606750',
 '0',
 '0',
 '0',
 '0',
 '0',
 '003-1',
 'COMERCIAL',
 '296803.54',
 '0',
 '0',
 '0',
 '0',
 '0',
 '003-2',
 'COMERCIAL',
 '34515',
 '0',
 '0',
 '0',
 '0',
 '0',
 '003-3',
 'COMERCIAL',
 '111883',
 '0',
 '0',
 '0',
 '0',
 '0',
 '003-4',
 'COMERCIAL',
 '0',
 '183079.48',
 '0',
 '0',
 '0',
 '0',
 '003-5',
 'COMERCIAL',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '003-6',
 'COMERCIAL',
 '0',
 '247154275.23',
 '0',
 '0',
 '0',
 '0',
 '003-7',
 'COMERCIAL',
 '0',
 '2804300.09',
 '0',
 '0',
 '0',
 '0',
 '003-8',
 'COMERCIAL',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '003-9',
 'COMERCIAL',
 '0',
 '814324.59',
 '0',
 '0',
 '0',
 '0',
 '003-10',
 'COMERCIAL',
 '0',
 '305750225.09',
 '0',
 '0',
 '0',
 '0',
 '003-11',
 'COMERCIAL',
 '0',
 '31730386.88',
 '0',
 '0',
 '0',
 '0',
 '003-12',
 'COMERCIAL',
 '0',
 '39662983.6',
 '0',
 '0',
 '0',
 '0']

In [206]:
df2 = pd.DataFrame.from_dict(list2)
df2

                              0
0                             1
1       00004-2017/CCO-INDECOPI
2         INDECOPI SEDE CENTRAL
3    DECLARACION DE INSOLVENCIA
4                   LIQUIDACIÓN
..                          ...
106                  39662983.6
107                           0
108                           0
109                           0
110                           0

[111 rows x 1 columns]

In [229]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(browser.page_source)

In [255]:
soup_table = soup.find_all("table")[9]

In [256]:
tables = pd.read_html(str(soup_table))
tables

[   N°                                     Deudor            N° Expediente  \
 0   1  GASODUCTO SUR PERUANO S.A. EN LIQUIDACIÓN  00004-2017/CCO-INDECOPI

         Lugar de Trámite          Tipo de Expediente       Estado  \
 0  INDECOPI SEDE CENTRAL  DECLARACION DE INSOLVENCIA  LIQUIDACIÓN

    Nro Acreedores  Últ. Junta
 0              40  11/04/2023  ]

In [257]:
table = tables[0]
table

,N°,Deudor,N° Expediente,Lugar de Trámite,Tipo de Expediente,Estado,Nro Acreedores,Últ. Junta
0,1,GASODUCTO SUR PERUANO S.A. EN LIQUIDACIÓN,00004-2017/CCO-INDECOPI,INDECOPI SEDE CENTRAL,DECLARACION DE INSOLVENCIA,LIQUIDACIÓN,40,11/04/2023

In [298]:
soup_table2 = soup.find_all("table")[33]
tables2 = pd.read_html(str(soup_table2))
tables2

[                                               Nro RC  \
                                                Nro RC
                                                Nro RC
 0   RELACIÓN DE ACREEDORES DEL DEUDOR: GASODUCTO S...
 1   Importante: El presente reporte ha sido elabor...
 2   Importante: El presente reporte ha sido elabor...
 3                                              Nro RC
 4                                              Nro RC
 5                                              Nro RC
 6   Total Créditos Reconocidos (Tipo de Acreedor: ...
 7                 Total Créditos Reconocidos (Soles):
 8               Total Créditos Reconocidos (Dólares):
 9                                              003-13
 10                                             003-14
 11                                             003-15
 12                                             003-16
 13                                             003-17
 14                                             003-18
 15                                             003-19
 16                                             003-20
 17                                             003-21
 18                                             003-22
 19                                             003-23
 20                                             003-24
 21                                             003-25
 22                                                 ««
 23  Total Créditos Reconocidos (Tipo de Acreedor: ...
 24                Total Créditos Reconocidos (Soles):
 25              Total Créditos Reconocidos (Dólares):

                                              Acreedor  \
                                              Acreedor
                                              Acreedor
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                            Acreedor
 4                                            Acreedor
 5                                            Acreedor
 6   Total Créditos Reconocidos (Tipo de Acreedor: ...
 7                                  S/. 800,930,765.63
 8                                  $ 1,267,919,963.98
 9                 SUMITOMO MITSUI BANKING CORPORATION
 10                              SNC LAVALIN PERU S.A.
 11               BANCO BILBAO VIZCAYA ARGENTARIA S.A.
 12                           NATIXIS, NEW YORK BRANCH
 13                                           GYM S.A.
 14  PATRIMONIO FIDEICOMETIDO "LA FIDUCIARIA FID. G...
 15                      MINISTERIO DE ENERGIA Y MINAS
 16                            CHUBB SEGUROS PERU S.A.
 17                            ODEBRECHT SERVICES GMBH
 18               ODEBRECHT LATINVEST PERU DUCTOS S.A.
 19    ODEBRECHT PERU INGENIERIA Y CONSTRUCCION S.A.C.
 20                       CONSORCIO SUPERVISOR DEL SUR
 21                                     AYESA PERU SAC
 22                                                  «
 23  Total Créditos Reconocidos (Tipo de Acreedor: ...
 24                                 S/. 800,930,765.63
 25                                 $ 1,267,919,963.98

    Tipo Acreedor-- Todos --LaboralTributarioComercialPrevisionalNo Identificable  \
    Tipo Acreedor-- Todos --LaboralTributarioComercialPrevisionalNo Identificable
    Tipo Acreedor-- Todos --LaboralTributarioComercialPrevisionalNo Identificable
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3   Tipo Acreedor-- Todos --LaboralTributarioComer...
 4   Tipo Acreedor-- Todos --LaboralTributarioComer...
 5   Tipo Acreedor-- Todos --LaboralTributarioComer...
 6   Total Créditos Reconocidos (Tipo de Acreedor: ...
 7                                                 NaN
 8                                                 NaN
 9                                           COMERCIAL
 10                                          COMERCIAL
 11                                          COMERCIAL
 12                                          COMERCIAL
 13                                          COMERCIAL
 14                                          COMERCIAL
 15                                          COMERCIAL
 16                                          COMERCIAL
 17                                          COMERCIAL
 18                                          COMERCIAL
 19                                          COMERCIAL
 20                                          COMERCIAL
 21                                          COMERCIAL
 22                                                NaN
 23  Total Créditos Reconocidos (Tipo de Acreedor: ...
 24                                                NaN
 25                                                NaN

                                              Oportuno  \
                                                  SOL.
                                                  SOL.
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                            Oportuno
 4                                                SOL.
 5                                                SOL.
 6   Total Créditos Reconocidos (Tipo de Acreedor: ...
 7                                                 NaN
 8                                                 NaN
 9                                                   0
 10                                                  0
 11                                                  0
 12                                                  0
 13                                                  0
 14                                                  0
 15                                                  0
 16                                                  0
 17                                                  0
 18                                                  0
 19                                                  0
 20                                                  0
 21                                                  0
 22                                                  1
 23  Total Créditos Reconocidos (Tipo de Acreedor: ...
 24                                                NaN
 25                                                NaN

                                                        \
                                                  DOL.
                                                  DOL.
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                            Oportuno
 4                                                DOL.
 5                                                DOL.
 6   Total Créditos Reconocidos (Tipo de Acreedor: ...
 7                                                 NaN
 8                                                 NaN
 9                                          39662983.6
 10                                          176707.48
 11                                         39662983.6
 12                                        39692671.34
 13                                        15960161.75
 14                                        169287006.1
 15                                         92365963.6
 16                                          114375000
 17                                                  0
 18                                                  0
 19                                                  0
 20                                                  0
 21                                          202848.45
 22                                                  2
 23  Total Créditos Reconocidos (Tipo de Acreedor: ...
 24                                                NaN
 25                                                NaN

                                                Tardío  \
                                              CON VOTO
                                                  SOL.
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                              Tardío
 4                                            CON VOTO
 5                                                SOL.
 6   Total Créditos Reconocidos (Tipo de Acreedor: ...
 7                                                 NaN
 8                                                 NaN
 9                                                   0
 10                                                  0
 11                                                  0
 12                                                  0
 13                                                  0
 14                                                  0
 15                                                  0
 16                                                  0
 17                                                  0
 18                                                  0
 19                                                  0
 20                                                  0
 21                                                  0
 22                                                  3
 23  Total Créditos Reconocidos (Tipo de Acreedor: ...
 24                                                NaN
 25                                                NaN

                                                        \

                                                  DOL.
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                              Tardío
 4                                            CON VOTO
 5                                                DOL.
 6   Total Créditos Reconocidos (Tipo de Acreedor: ...
 7                                                 NaN
 8                                                 NaN
 9                                                   0
 10                                                  0
 11                                                  0
 12                                                  0
 13                                                  0
 14                                                  0
 15                                                  0
 16                                                  0
 17                                                  0
 18                                                  0
 19                                                  0
 20                                                  0
 21                                                  0
 22                                                  4
 23  Total Créditos Reconocidos (Tipo de Acreedor: ...
 24                                                NaN
 25                                                NaN

                                                        \
                                              SIN VOTO
                                                  SOL.
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                              Tardío
 4                                            SIN VOTO
 5                                                SOL.
 6   Total Créditos Reconocidos (Tipo de Acreedor: ...
 7                                                 NaN
 8                                                 NaN
 9                                                   0
 10                                                  0
 11                                                  0
 12                                                  0
 13                                                  0
 14                                                  0
 15                                                  0
 16                                                  0
 17                                                  0
 18                                                  0
 19                                                  0
 20                                                  0
 21                                                  0
 22                                                NaN
 23  Total Créditos Reconocidos (Tipo de Acreedor: ...
 24                                                NaN
 25                                                NaN

                                                       Unnamed: 9_level_0
                                                       Unnamed: 9_level_1
                                                  DOL. Unnamed: 9_level_2
 0                                                 NaN                NaN
 1                                                 NaN                NaN
 2                                                 NaN                NaN
 3                                              Tardío                NaN
 4                                            SIN VOTO                NaN
 5                                                DOL.                NaN
 6   Total Créditos Reconocidos (Tipo de Acreedor: ...                NaN
 7                                                 NaN                NaN
 8                                                 NaN                NaN
 9                                                   0                NaN
 10                                                  0                NaN
 11                                                  0                NaN
 12                                                  0                NaN
 13                                                  0                NaN
 14                                                  0                NaN
 15                                                  0                NaN
 16                                                  0                NaN
 17                                                  0                NaN
 18                                                  0                NaN
 19                                                  0                NaN
 20                                                  0                NaN
 21                                                  0                NaN
 22                                                  »                 »»
 23  Total Créditos Reconocidos (Tipo de Acreedor: ...                NaN
 24                                                NaN                NaN
 25                                                NaN                NaN  ,
                                                    0
 0  Importante: El presente reporte ha sido elabor...,
                                                Nro RC  \
                                                Nro RC
                                                Nro RC
 0                 Total Créditos Reconocidos (Soles):
 1               Total Créditos Reconocidos (Dólares):
 2                                              003-13
 3                                              003-14
 4                                              003-15
 5                                              003-16
 6                                              003-17
 7                                              003-18
 8                                              003-19
 9                                              003-20
 10                                             003-21
 11                                             003-22
 12                                             003-23
 13                                             003-24
 14                                             003-25
 15  Total Créditos Reconocidos (Tipo de Acreedor: ...
 16                Total Créditos Reconocidos (Soles):
 17              Total Créditos Reconocidos (Dólares):

                                              Acreedor  \
                                              Acreedor
                                              Acreedor
 0                                  S/. 800,930,765.63
 1                                  $ 1,267,919,963.98
 2                 SUMITOMO MITSUI BANKING CORPORATION
 3                               SNC LAVALIN PERU S.A.
 4                BANCO BILBAO VIZCAYA ARGENTARIA S.A.
 5                            NATIXIS, NEW YORK BRANCH
 6                                            GYM S.A.
 7   PATRIMONIO FIDEICOMETIDO "LA FIDUCIARIA FID. G...
 8                       MINISTERIO DE ENERGIA Y MINAS
 9                             CHUBB SEGUROS PERU S.A.
 10                            ODEBRECHT SERVICES GMBH
 11               ODEBRECHT LATINVEST PERU DUCTOS S.A.
 12    ODEBRECHT PERU INGENIERIA Y CONSTRUCCION S.A.C.
 13                       CONSORCIO SUPERVISOR DEL SUR
 14                                     AYESA PERU SAC
 15  Total Créditos Reconocidos (Tipo de Acreedor: ...
 16                                 S/. 800,930,765.63
 17                                 $ 1,267,919,963.98

    Tipo Acreedor-- Todos --LaboralTributarioComercialPrevisionalNo Identificable  \
    Tipo Acreedor-- Todos --LaboralTributarioComercialPrevisionalNo Identificable
    Tipo Acreedor-- Todos --LaboralTributarioComercialPrevisionalNo Identificable
 0                                                 NaN
 1                                                 NaN
 2                                           COMERCIAL
 3                                           COMERCIAL
 4                                           COMERCIAL
 5                                           COMERCIAL
 6                                           COMERCIAL
 7                                           COMERCIAL
 8                                           COMERCIAL
 9                                           COMERCIAL
 10                                          COMERCIAL
 11                                          COMERCIAL
 12                                          COMERCIAL
 13                                          COMERCIAL
 14                                          COMERCIAL
 15  Total Créditos Reconocidos (Tipo de Acreedor: ...
 16                                                NaN
 17                                                NaN

                                              Oportuno  \
                                                  SOL.
                                                  SOL.
 0                                                 NaN
 1                                                 NaN
 2                                                   0
 3                                                   0
 4                                                   0
 5                                                   0
 6                                                   0
 7                                                   0
 8                                                   0
 9                                                   0
 10                                                  0
 11                                                  0
 12                                                  0
 13                                                  0
 14                                                  0
 15  Total Créditos Reconocidos (Tipo de Acreedor: ...
 16                                                NaN
 17                                                NaN

                                                        \
                                                  DOL.
                                                  DOL.

In [302]:
table2 = tables2[2]
table2

                                               Nro RC  \
                                               Nro RC
                                               Nro RC
0                 Total Créditos Reconocidos (Soles):
1               Total Créditos Reconocidos (Dólares):
2                                              003-13
3                                              003-14
4                                              003-15
5                                              003-16
6                                              003-17
7                                              003-18
8                                              003-19
9                                              003-20
10                                             003-21
11                                             003-22
12                                             003-23
13                                             003-24
14                                             003-25
15  Total Créditos Reconocidos (Tipo de Acreedor: ...
16                Total Créditos Reconocidos (Soles):
17              Total Créditos Reconocidos (Dólares):

                                             Acreedor  \
                                             Acreedor
                                             Acreedor
0                                  S/. 800,930,765.63
1                                  $ 1,267,919,963.98
2                 SUMITOMO MITSUI BANKING CORPORATION
3                               SNC LAVALIN PERU S.A.
4                BANCO BILBAO VIZCAYA ARGENTARIA S.A.
5                            NATIXIS, NEW YORK BRANCH
6                                            GYM S.A.
7   PATRIMONIO FIDEICOMETIDO "LA FIDUCIARIA FID. G...
8                       MINISTERIO DE ENERGIA Y MINAS
9                             CHUBB SEGUROS PERU S.A.
10                            ODEBRECHT SERVICES GMBH
11               ODEBRECHT LATINVEST PERU DUCTOS S.A.
12    ODEBRECHT PERU INGENIERIA Y CONSTRUCCION S.A.C.
13                       CONSORCIO SUPERVISOR DEL SUR
14                                     AYESA PERU SAC
15  Total Créditos Reconocidos (Tipo de Acreedor: ...
16                                 S/. 800,930,765.63
17                                 $ 1,267,919,963.98

   Tipo Acreedor-- Todos --LaboralTributarioComercialPrevisionalNo Identificable  \
   Tipo Acreedor-- Todos --LaboralTributarioComercialPrevisionalNo Identificable
   Tipo Acreedor-- Todos --LaboralTributarioComercialPrevisionalNo Identificable
0                                                 NaN
1                                                 NaN
2                                           COMERCIAL
3                                           COMERCIAL
4                                           COMERCIAL
5                                           COMERCIAL
6                                           COMERCIAL
7                                           COMERCIAL
8                                           COMERCIAL
9                                           COMERCIAL
10                                          COMERCIAL
11                                          COMERCIAL
12                                          COMERCIAL
13                                          COMERCIAL
14                                          COMERCIAL
15  Total Créditos Reconocidos (Tipo de Acreedor: ...
16                                                NaN
17                                                NaN

                                             Oportuno  \
                                                 SOL.
                                                 SOL.
0                                                 NaN
1                                                 NaN
2                                                   0
3                                                   0
4                                                   0
5                                                   0
6                                                   0
7                                                   0
8                                                   0
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                  0
14                                                  0
15  Total Créditos Reconocidos (Tipo de Acreedor: ...
16                                                NaN
17                                                NaN

                                                       \
                                                 DOL.
                                                 DOL.
0                                                 NaN
1                                                 NaN
2                                          39662983.6
3                                           176707.48
4                                          39662983.6
5                                         39692671.34
6                                         15960161.75
7                                         169287006.1
8                                          92365963.6
9                                           114375000
10                                                  0
11                                                  0
12                                                  0
13                                                  0
14                                          202848.45
15  Total Créditos Reconocidos (Tipo de Acreedor: ...
16                                                NaN
17                                                NaN

                                               Tardío  \
                                             CON VOTO
                                                 SOL.
0                                                 NaN
1                                                 NaN
2                                                   0
3                                                   0
4                                                   0
5                                                   0
6                                                   0
7                                                   0
8                                                   0
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                  0
14                                                  0
15  Total Créditos Reconocidos (Tipo de Acreedor: ...
16                                                NaN
17                                                NaN

                                                       \

                                                 DOL.
0                                                 NaN
1                                                 NaN
2                                                   0
3                                                   0
4                                                   0
5                                                   0
6                                                   0
7                                                   0
8                                                   0
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                  0
14                                                  0
15  Total Créditos Reconocidos (Tipo de Acreedor: ...
16                                                NaN
17                                                NaN

                                                       \
                                             SIN VOTO
                                                 SOL.
0                                                 NaN
1                                                 NaN
2                                                   0
3                                                   0
4                                                   0
5                                                   0
6                                                   0
7                                                   0
8                                                   0
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                  0
14                                                  0
15  Total Créditos Reconocidos (Tipo de Acreedor: ...
16                                                NaN
17                                                NaN



                                                 DOL.
0                                                 NaN
1                                                 NaN
2                                                   0
3                                                   0
4                                                   0
5                                                   0
6                                                   0
7                                                   0
8                                                   0
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                  0
14                                                  0
15  Total Créditos Reconocidos (Tipo de Acreedor: ...
16                                                NaN
17                                                NaN